* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/cloudy.jpg");

  background-size: cover;
  background-position: bottom;
  transition: .4s ease-out;
}
.App.warm {
  background-image: url("./assets/sunny.jpg");
  background-size: cover;
  background-position: bottom;
  transition: .4s ease-out;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.8));
}

/* SEARCH BOX */

.search-box {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 50px 15px 15px;
}

.search-box .search-bar {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255,255, 255, .3);

  color: #313131;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #df8e00;
  font-size: 20px;
  font-weight: 300;
  transition: .2s ease-out;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, .6);
}

/* WEATHER */

.location-box .location {
  font-size: 32px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5px;
}


.location-box .date {
  color: #fff;
  font-size: 16px;
}

.weather-box .temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  padding: 15px 25px;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 16px;
  position: relative;
  display: inline-block;

  text-shadow: 3px 6px rgba(50, 50, 70, .5);
  text-align: center;
  text-shadow: 3px 6px rgba(0, 0, 0, .2);
}
.weather-box .temp span {
  font-weight: 500;
}
.weather-box .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, .4);
}
